name: Build
on:
  push:
    tags: [ 'v*' ]
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
      - uses: actions/checkout@v2
      - uses: bleep-build/bleep-setup-action@0.0.1
      - uses: coursier/cache-action@v6
        with:
          extraFiles: bleep.yaml

      - name: Scalafmt Check
        run: bleep fmt --check

      - name: Start up Postgres
        run: docker-compose up -d

      - name: Run tests
        env:
          CI: true
        run: |
          bleep compile
          bleep test

  release:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: [ build ]
    if: "startsWith(github.ref, 'refs/tags/v')"
    steps:
      - uses: actions/checkout@v2
      - uses: bleep-build/bleep-setup-action@0.0.1
      - uses: coursier/cache-action@v6
        with:
          extraFiles: bleep.yaml
      - id: get_version
        uses: battila7/get-version-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        run: bleep --dev publish
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      - name: Create github release
        uses: softprops/action-gh-release@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          name: "${{ steps.get_version.outputs.version-without-v }}"
          prerelease: false
          generate_release_notes: true
    permissions:
      contents: write